body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#contiene {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form ul {
    list-style-type: none;
    padding: 0;
}

form ul li {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="button"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

iframe {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
